<h1>User::JobApplication#index</h1>
<p>Find me in app/views/user/job_application/index.html.erb</p>


<h1>My Applications</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Profile</th>
      <th>Ctc</th>
      <th>Location</th>
      <th>Deadline</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @applications.each do |application| %>
      <tr>
        <td><%= application.name %></td>
        <td><%= application.profile %></td>
        <td><%= application.ctc %></td>
        <td><%= application.location %></td>
        <td><%= application.deadline %></td>
        <td><%= link_to 'Show', application %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

